@model HMS.ViewModel.BlogEditFormViewModel

@{
    ViewBag.Title = "Blog Form";
    ViewBag.SubTitle= "Blog Post Create/Update Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section css{
    
}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="@Url.Action("UpdateBlog","Admin",new{id=Model.BlogPost.Id})" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label for="title">Blog Title</label>
                        @* <input type="text" class="form-control" id="blogId" placeholder="Enter email"> *@
                        @Html.TextBoxFor(b=>b.BlogPost.Title, new{id="title", @class="form-control", placeholder="Enter a blog post title"})
                        @Html.ValidationMessageFor(b=>b.BlogPost.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="BlogContent">Blog Post Content</label>
                        @* <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> *@
                        @Html.TextAreaFor(b => b.BlogPost.Content, new { id = "blogContent", rows = "10", @cols = "80" })
                        @Html.ValidationMessageFor(b => b.BlogPost.Content, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                                         
                        <div class="row">
                            <div class="col-md-6">
                                <label for="FeatureImage">File input</label>
                                @Html.TextBoxFor(b=>b.FeatureImage, new{@class="form-control", onchange = "readURL(this)", type = "file" , accept = "image/*", id="FeatureImage" })
                                <p class="help-block">Only one image file allowed</p>       
                                @Html.ValidationMessageFor(b=>b.FeatureImage,"", new{@class="text-danger"})

                            </div>
                            <div class="col-md-6">
                                <br />
                                <img src="@(string.IsNullOrEmpty(Model.BlogPost.FeatureImagePath)?"":Url.Content(Model.BlogPost.FeatureImagePath))" alt="No Feature Image added" id="featureImageView" style="max-height: 200px; max-width: 200px; object-fit: contain;"/>

                            </div>
                        </div>
                    </div>
                    @* <div class="checkbox"> *@
                    @*     <label> *@
                    @*         <input type="checkbox"> Check me out *@
                    @*     </label> *@
                    @* </div> *@
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.BlogPost.Id)
                    @Html.HiddenFor(m => m.BlogPost.CreatedAt)
                    @Html.HiddenFor(m => m.BlogPost.FeatureImagePath)
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.box -->

    </div>
    <div class="col-md-2">

    </div>
</div>             
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <!-- CK Editor -->
    <script src="~/admin-lte/ckeditor/ckeditor.js"></script>
    <script>
        $(function() {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('blogContent', {
                resize_enabled: 'false',
                removePlugins: 'elementspath'
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#featureImageView').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
