@using HMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <label class="alert alert-link">
                    @Html.ActionLink("Register as a new user", "Register")
                </label>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
        <h4>Some Existing User Account</h4>
        <hr />
        <table class="table table-responsive table-striped">
            <tr>
                <th>Role</th>
                <th>username</th>
                <th>password</th>
            </tr>
            <tr>
                <td>Admin</td>
                <td>ahashans@gmail.com</td>
                <td>Ahashans@gmail.c0m</td>
            </tr>
            <tr>
                <td>Doctor -> Accident & Emergency</td>
                <td>doctor@hms.com</td>
                <td>Doctor@hms.c0m</td>
            </tr>
            <tr>
                <td>Doctor -> Cardiology</td>
                <td>doctor2@hms.com</td>
                <td>Doctor2@hms.c0m</td>
            </tr>
            <tr>
                <td>Doctor -> Gynocology</td>
                <td>doctor3@hms.com</td>
                <td>Doctor3@hms.c0m</td>
            </tr>
            <tr>
                <td>Receptionist</td>
                <td>receptionist@hms.com</td>
                <td>Receptionist@hms.c0m</td>
            </tr>
            <tr>
                <td>Patient</td>
                <td>patient@hms.com</td>
                <td>Patient@hms.c0m</td>
            </tr>
            <tr>
                <td>Patient 2</td>
                <td>patient2@hms.com</td>
                <td>Patient2@hms.c0m</td>
            </tr>
            <tr>
                <td>Patient 3 Female</td>
                <td>patient3@hms.com</td>
                <td>Patient3@hms.c0m</td>
            </tr>

        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}