<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderPage("_Navbar.cshtml")
    <div class="container body-content content">
        @RenderBody()
        <hr />        
    </div>
<footer class="">
    <div class="container">
        <p>&copy; @DateTime.Now.Year - @@hashansWebFactory</p>
    </div>
</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
