@model HMS.ViewModel.CreateDiagnosisViewModel
@{
    ViewBag.Title = "Diagnosis Form";
    ViewBag.SubTitle = "Create new diagnosis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/admin-lte/moment/min/moment.min.js"></script>
<script type="text/javascript">
    //$("#ticketId").removeAttr("data-val");
    function getPatientInfo(patientId)
    {
        if (patientId) {
            var url = "/Doctor/GetOpenTicketPatientInfo/";
            $.ajax({
                url: url,
                data: { patientid: patientId },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data[0].dob) {
                        var dob = moment(data[0].dob).format("YYYY-MM-DD");
                        var age = moment().diff(dob, 'years');
                        $("#age").attr("value", age);
                        $("#gender").attr("value", data[0].gender);
                        $("#ticketId").attr("value", data[0].ticketId);
                    } else {
                        $("#age").attr("value", "");
                        $("#gender").attr("value", "");
                        $("#ticketId").attr("value", "");
                    }

                },
                error: function(/*reponse*/) {
                    //alert("error : " + reponse);
                    $("#ddlPatient").html("");
                    $("#ddlPatient").html("<option>No Patient Found</option>");
                }
            });
        } else {
            $("#age").attr("value", "");
            $("#gender").attr("value", "");
            $("#ticketId").attr("value", "");
        }
    }
</script>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="container-fluid">
                <h3 class="alert alert-info">If The Drop Down List does not conatin any Patient that means there is no patient matched with your department who has an unused or open Ticket</h3>
                <br />
                <div class="form-group">
                    <label class="">Patient Name</label>
                    @Html.DropDownList("ddlPatients", new SelectList(Model.Patients, "Id", "FullName"), "Select a Patient", new { id = "ddlpatient", @class = "form-control", onchange = "javascript:getPatientInfo(this.value);" })
                </div>
                <div id="info">
                    <div class="form-group">
                        <label class="">Age</label>
                        <input type="number" readonly="readonly" id="age" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="">Gender</label>
                        <input type="text" readonly="readonly" id="gender" class="form-control" />
                    </div>
                    <hr />
                    @using (Html.BeginForm("StoreDiagnosis", "Doctor", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Diagnosis.Ticket, new { @class = "" })
                            @Html.TextBoxFor(m => m.Diagnosis.TicketId, new { id = "ticketId", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Diagnosis.TicketId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Diagnosis.DiagnosisProvided, new { @class = "" })
                            @Html.TextAreaFor(m => m.Diagnosis.DiagnosisProvided, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Diagnosis.DiagnosisProvided)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Diagnosis.TreatmentProvided, new { @class = "" })
                            @Html.TextAreaFor(m => m.Diagnosis.TreatmentProvided, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Diagnosis.TreatmentProvided)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Diagnosis.RequiredTests, new { @class = "" })
                            @Html.TextAreaFor(m => m.Diagnosis.RequiredTests, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Diagnosis.RequiredTests)
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success pull-right">Submit</button>
                                <button type="reset" class="btn btn-warning pull-left">Reset</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.box -->

    </div>
    <div class="col-md-2">

    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {
            $("#ticketId").attr("readonly", "true");

//            $("#ticketId").removeAttr("data-val-number");
//            $("#ticketId").removeAttr("data-val-required");
            $("#ticketId").attr("value", "Please Select A Patient First");
//            $("#ticketId").attr("data-val-required", "Please Select a Patient");
        });
    </script>
}
