@using HMS.Models
@model HMS.ViewModel.HomeIndexViewModel
@{
    ViewBag.Title = "Home";
}
@section css{
    <style>
        .banner-details{
            background-color: rgba(123,193,68,0.7);

        }
    </style>
}


<div class="banner-section">
    <div class="revo-slider">
        <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper " data-alias="concept1" style="background-color:#000000;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
            <div id="rev_slider_202_1" class="rev_slider" style="display:none;" data-version="5.1.1RC">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-672">
                        <!-- MAIN IMAGE -->
                        <img src="~/assets/images/banner-img.jpg" alt="" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption Concept-SubTitle " id="slide-672-layer-4"
                             data-x="['left','center','center','center']" data-hoffset="['50','0','0','0']"
                             data-y="['bottom','middle','middle','middle']" data-voffset="['-10','-65','-57','-54']"
                             data-fontsize="['25','25','20','20']" data-lineheight="['25','25','20','20']"
                             data-width="['490','500','500','400']" data-height="none"
                             data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                             style="z-index: 6; white-space: normal;font-style:italic;"></div>
                    </li>
                    <li data-index="rs-673">
                        <!-- MAIN IMAGE -->
                        <img src="~/assets/images/dental-banner.jpg" alt="" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption Concept-SubTitle " id="slide-673-layer-4"
                             data-x="['left','center','center','center']" data-hoffset="['50','0','0','0']"
                             data-y="['bottom','middle','middle','middle']" data-voffset="['-10','-65','-57','-54']"
                             data-fontsize="['25','25','20','20']" data-lineheight="['25','25','20','20']"
                             data-width="['490','500','500','400']" data-height="none"
                             data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: normal;font-style:italic;"></div>
                    </li>
                    <li data-index="rs-674">
                        <!-- MAIN IMAGE -->
                        <img src="~/assets/images/banner-img.jpg" alt="" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption Concept-SubTitle " id="slide-674-layer-4"
                             data-x="['left','center','center','center']" data-hoffset="['50','0','0','0']"
                             data-y="['bottom','middle','middle','middle']" data-voffset="['-10','-65','-57','-54']"
                             data-fontsize="['25','25','20','20']" data-lineheight="['25','25','20','20']"
                             data-width="['490','500','500','400']" data-height="none"
                             data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                             style="z-index: 6; white-space: normal;font-style:italic;"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-details">
            <span class="details-heading">
                <span class="year-num">15</span> <span class="year-des">
                    Year of
                    <br />
                    Success
                </span>
            </span>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since...
            </p>
            <div class="book-appointment-section">
                <a href="@Url.Action("AppointmentBooking","Home")" class="inner-sec"> <span class="anchor-icon"> <i class="icon-calendar"></i> </span> book your appointment </a>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="event-section padd-top padd-bottom">
            <div class="row">
                <div class="col-sm-6 set-margin-bot">
                    <div class="about-section">
                        <h2>about us</h2>
                        <div class="common-padd-top about-section-para">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took
                                a galley of type and scrambled it to make a <strong class="strong">Checkout out video background</strong>
                        </div>
                        <figure class="video-image">
                            <img src="~/assets/images/about-image.jpg" alt="video-image" data-video="https://www.youtube.com/embed/E5ln4uR4TwQ?autoplay=1" />
                            <a href="javascript:void(0)" class="video-link"> <i class="glyphicon glyphicon-play"> </i></a>
                        </figure>
                        <div class="text-left set-margin-top">
                            <a href="about-us.html" class="btn">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2>our events</h2>
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        @foreach (var chunk in Model.ProbableEvents.Chunk(2))
                        {
                            <div class="item ">

                                @foreach (var probableEvent in chunk)
                                {
                                    <div class="event-gallery common-padd-top">
                                        <div class="event-image-section zoom">
                                            <figure class="event-image">
                                                <img src="@(string.IsNullOrEmpty(probableEvent.FeatureImagePath)?"":Url.Content(probableEvent.FeatureImagePath))" alt="image" />
                                            </figure>
                                        </div>
                                        <div class="event-content">
                                            <span class="date-section">@probableEvent.EventDate.ToString("d")</span>
                                            <h5>@probableEvent.Title</h5>
                                            <p>
                                                @probableEvent.ShortDescription
                                            </p>
                                        </div>
                                    </div>
                                }

                                @* <div class="text-left set-margin-top"> *@
                                @*     <a href="gallery.html" class="btn">full event</a> *@
                                @* </div> *@
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="department-section">
        <div id="tabs">
            <div id="tabs-1" class="padd-top">
                <div class="container">
                    <div class="departmental-section">
                        <h2>our departments</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since unknown printer.
                        </p>
                        <div class="text-left set-margin-top">
                            <a href="@Url.Action("Departments","Home")" class="btn">view all department</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-2" class="padd-top">
                <div class="container">
                    <div class="departmental-section">
                        <h2>our departments</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since unknown printer.
                        </p>
                        <div class="text-left set-margin-top">
                            <a href="@Url.Action("Departments","Home")" class="btn">view all department</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-3" class="padd-top">
                <div class="container">
                    <div class="departmental-section">
                        <h2>our departments</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since unknown printer.
                        </p>
                        <div class="text-left set-margin-top">
                            <a href="@Url.Action("Departments","Home")" class="btn">view all department</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-4" class="padd-top">
                <div class="container">
                    <div class="departmental-section">
                        <h2>our departments</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since unknown printer.
                        </p>
                        <div class="text-left set-margin-top">
                            <a href="@Url.Action("Departments","Home")" class="btn">view all department</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-5" class="padd-top">
                <div class="container">
                    <div class="departmental-section">
                        <h2>our departments</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since unknown printer.
                        </p>
                        <div class="text-left set-margin-top">
                            <a href="@Url.Action("Departments","Home")" class="btn">view all department</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabbing-nav">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#tabs-2" class="nav-icons"> <img src="~/assets/images/heart.png" alt="image" /></a>
                            <span class="tab-title">cardiology</span>
                        </li>
                        <li>
                            <a href="#tabs-1" class="nav-icons"><img src="~/assets/images/tooth.png" alt="image" /></a>
                            <span class="tab-title">Dental</span>
                        </li>
                        <li>
                            <a href="#tabs-3" class="nav-icons"><img src="~/assets/images/heart-2.png" alt="image" /></a>
                            <span class="tab-title">pediatric</span>
                        </li>
                        <li>
                            <a href="#tabs-4" class="nav-icons"><img src="~/assets/images/ear.png" alt="image" /></a>
                            <span class="tab-title">ENT</span>
                        </li>
                        <li>
                            <a href="#tabs-5" class="nav-icons"><img src="~/assets/images/bone.png" alt="image" /></a>
                            <span class="tab-title"> Traumatology</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container padd-bottom padd-top">
        <div class="text-center common-padd-bottom">
            <h2>our doctors</h2>
        </div>
        <div class="row">
            @foreach (var doctor in Model.Doctors)
            {
                <div class="col-sm-3 dr-intro">
                    <figure class="dr-image">
                        <img src="@(string.IsNullOrEmpty(doctor.DoctorUser.ProfileImagePath)?"":Url.Content(doctor.DoctorUser.ProfileImagePath))" alt="image" class="img-responsive" style="" />
                    </figure>
                    <h5 class="text-center"><a href="@Url.Action("DoctorDetails","Home",new {id=doctor.Id})">Dr. @doctor.DoctorUser.FullName</a></h5>
                    <span class="doctor-title text-center">@doctor.Department.Name Specialist</span>
                </div>
            }

        </div>
        <div class="text-center set-margin-top">
            <a href="@Url.Action("Doctors","Home")" class="btn">All doctors</a>
        </div>
    </div>
    <div class="testimonial-section padd-top">
        <div class="container">
            <div class="text-center">
                <h2>Testimonials</h2>
            </div>
            <div id="owl-demo-2" class="owl-carousel owl-theme">
                @foreach (var testimonial in Model.Testimonials)
                {
                    <div class="item">
                        <div class="quote-tabs">
                            <div id="tabs-@testimonial.Id">
                                <blockquote class="testimonial-quotes">
                                    @testimonial.Message
                                </blockquote>
                            </div>
                            <ul class="quote-next">
                                <li>
                                    <a href="#tabs-@testimonial.Id" class="client-quote-1"> <img src="@(string.IsNullOrEmpty(testimonial.ProfileImagePath)?"":Url.Content(@testimonial.ProfileImagePath))" alt="image" /> </a>
                                    <span class="client-details"> <span class="client-name">@testimonial.Name</span> <span class="client-des doctor-title">@testimonial.Designation</span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container padd-top padd-bottom">
        <div class="text-center common-padd-bottom">
            <h2>Our Blog</h2>
        </div>
        <div class="row">
            @foreach (var blogPost in Model.BlogPosts)
            {
                <div class="col-sm-6 zoom">
                    <figure class="blog-image">
                        <img src="@(string.IsNullOrEmpty(blogPost.FeatureImagePath)?"":Url.Content(blogPost.FeatureImagePath))" alt="" class="img-responsive" />
                        <div class="blog-des">
                            <h5><a href="@Url.Action("Blog","Home", new{id=blogPost.Id})">@blogPost.Title</a></h5>
                            @Html.Raw(blogPost.Content)
                            <span class="date-blog">@blogPost.CreatedAt.ToString("d")</span>
                        </div>
                    </figure>
                </div>
            }

        </div>
        <div class="text-center set-margin-top">
            <a href="blog.html" class="btn">More blog</a>
        </div>
    </div>
</div>